<!-- Jquery -->
<script src="{{ "assets/js/vendor/jquery-3.6.0.min.js"|theme }}"></script>
<!-- Slick Slider -->
<script src="{{ "assets/js/slick.min.js"|theme }}"></script>
<!-- Bootstrap -->
<script src="{{ "assets/js/bootstrap.min.js"|theme }}"></script>
<!-- Magnific Popup -->
<script src="{{ "assets/js/jquery.magnific-popup.min.js"|theme }}"></script>
<!-- Counter Up -->
<script src="{{ "assets/js/jquery.counterup.min.js"|theme }}"></script>
<!-- Range Slider -->
<script src="{{ "assets/js/jquery-ui.min.js"|theme }}"></script>
<!-- Isotope Filter -->
<script src="{{ "assets/js/imagesloaded.pkgd.min.js"|theme }}"></script>
<script src="{{ "assets/js/isotope.pkgd.min.js"|theme }}"></script>
<!-- Nice Select -->
<script src="{{ "assets/js/nice-select.min.js"|theme }}"></script>
<!-- Main Js File -->
<script src="{{ "assets/js/main.js"|theme }}"></script>