<div class="header-top">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-between align-items-center gy-2">
            <div class="col-auto d-none d-md-block">
                <div class="header-links">
                    <ul>
                        <li><i class="fa-regular fa-phone"></i><span class="link-title">Customer Service : </span><a href="tel:+628119827778">+62811 9827 778</a></li>
                        <li><i class="fa-regular fa-envelope"></i><span class="link-title">Email : </span><a href="mailto:banten@pelindo.co.id">banten@pelindo.co.id</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-auto">
                <div class="header-right">
                    <div class="langauge">
                        <img src="{{ "assets/img/icon/fag.svg"|theme }}" alt="">
                        <select class="form-select nice-select">
                            <option selected="">Indonesia</option>
                            <option>English</option>
                        </select>
                    </div>
                    <div class="header-social">
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sticky-wrapper">
    <div class="menu-area">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-auto">
                    <div class="header-logo">
                        <a href="index.html"><img src="{{ "assets/img/logo.png"|theme }}" width="270px" alt="Pelindo"></a>
                    </div>
                </div>
                <div class="col-auto">
                    <nav class="main-menu d-none d-lg-inline-block">
                        <ul>
                            <li>
                                <a href="index.html">Beranda</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="">Profil</a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">Tentang Kami</a></li>
                                    <li><a href="visi-misi.html">Visi dan Misi</a></li>
                                    <li><a href="nilai-perushs.html">Nilai-Nilai Perusahaan</a></li>
                                    <li><a href="jajaran.html">Jajaran Manajemen</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="">Fasilitas</a>
                                <ul class="sub-menu">
                                    <li><a href="dermaga.html">Dermaga</a></li>
                                    <li class="menu-item-has-children"><a href="">Jasa Kapal</a>
                                        <ul class="sub-menu">
                                            <li><a href="kapal-pandu.html">Kapal Pandu</a></li>
                                            <li><a href="kapal-tunda.html">Kapal Tunda</a></li>
                                            <li><a href="alat-navigasi.html">Alat Navigasi</a></li>
                                            <li><a href="kolam-pelabuhan.html">Kolam Pelabuhan</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="">Bongkar Muat</a>
                                        <ul class="sub-menu">
                                            <li><a href="bongkar-muat.html">Alat Bongkar Muat</a></li>
                                            <li><a href="lapangan-penumpukan.html">Lapangan Penumpukan</a></li>
                                            <li><a href="gudang-penumpukan.html">Gudang Penumpukan</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="">Pelayanan </a>
                                <ul class="sub-menu">
                                    <li><a href="jasa-kapal.html">Jasa Kapal</a></li>
                                    <li><a href="jasa-barang.html">Jasa Barang</a></li>
                                    <li><a href="rupa-usaha.html">Rupa-Rupa Usaha</a></li>
                                    <li class="menu-item-has-children"><a href="">Tarif Pelabuhan</a>
                                        <ul class="sub-menu">
                                            <li><a href="jasa-dermaga.html">Jasa Dermaga</a></li>
                                            <li><a href="jasa-penumpukan.html">Jasa Penumpukan</a></li>
                                            <li><a href="port-facility.html">Port Facility Services</a></li>
                                            <li><a href="tarif-alat.html">Tarif Alat Utama</a></li>
                                            <li><a href="jasa-tambat.html">Pelayanan Tambat</a></li>
                                            <li><a href="jasa-pemanduan.html">Pemanduan Dan Penundaan</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="maklumat-pelayanan.html">Maklumat Pelayanan</a></li>
                                    <li class="menu-item-has-children"><a href="">Standar Pelayanan</a>
                                        <ul class="sub-menu">
                                            <li><a href="service-level.html">Service Level Guarantee</a></li>
                                            <li><a href="operasi-gate.html">Operasi Gate</a></li>
                                            <li><a href="operasi-barang.html">Operasi Barang</a></li>
                                            <li><a href="operasi-kapal.html">Operasi Kapal</a></li>
                                            <li><a href="bongkar-muat.html">Bongkar Muat</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="berita.html">Berita</a>
                            </li>
                            <li>
                                <a href="penghargaan.html">Penghargaan</a>
                            </li>
                            <li>
                                <a href="kontak.html">Hubungi Kami</a>
                            </li>
                        </ul>
                    </nav>
                    <button type="button" class="themeholy-menu-toggle d-inline-block d-lg-none"><i class="far fa-bars"></i></button>
                </div>
                <div class="col-auto d-none d-xl-block">
                    <div class="header-button">
                        <button type="button" class="icon-btn searchBoxToggler"><i class="fal fa-search"></i></button>
                        <button type="button" class="icon-btn fs-6 sideMenuToggler">
                            <img src="{{ "assets/img/icon/grid.svg"|theme }}" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="logo-bg"></div>
</div>
<div class="menu-shape">
    <div class="top-shape" data-bg-src="{{ "assets/img/bg/header_bg_1.png"|theme }}"></div>
</div>
<div class="logo-bg2"></div>